@font-face {
    font-family: 'Queensides';
    src: url('../fonts/queensides/Queensides-3z7Ey.ttf') format('truetype'), /* Modern Browsers */
    /* Add additional font properties if needed (e.g., font-weight, font-style) */
}

@font-face {
    font-family: 'Bemirs';
    src: url('../fonts/bemirs/BemirsDemoVersionRegular-L360Z.ttf') format('truetype'), /* Modern Browsers */
    /* Add additional font properties if needed (e.g., font-weight, font-style) */
}

@font-face {
    font-family: 'Monserrat';
    src: url('../fonts/monserrat/MontserratLight-6YemM.otf') format('truetype'), /* Modern Browsers */
    /* Add additional font properties if needed (e.g., font-weight, font-style) */
}

@keyframes slideDescend {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes jitter {
    0%, 100% {
      transform: translate(-2px, -2px);
    }
    25% {
      transform: translate(2px, 2px);
    }
    50% {
      transform: translate(0, 0);
    }
    75% {
      transform: translate(-2px, 2px);
    }
}

/* Styles for the header section */
body {
    margin: 0; /* Remove default margin to take up the entire page */
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
    background: url('../img/hollywood.jpg') center/cover no-repeat; /* Set the background image for the entire header */
    color: #ffffff; /* Set the text color to white */
}

nav {
    position: absolute;
    top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Queensides';
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: burlywood;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff; 
}

/* Styles for the white square background */
.white-square {
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    transform: translate(-50%, -50%); /* Center the white square */
    border: 4px solid #ffffff00; /* Add a border to the square with increased thickness */
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box; /* Include the border in the element's total width and height */
    text-align: center; /* Center the text horizontally inside the square */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: jitter 3s infinite;
}

  /* Styles for the company name */
.company-name {
    font-family: 'Queensides', sans-serif;
    font-size: 100px; /* Adjust the font size as needed */
    margin-top: 10px; /* Adjust the margin as needed */
    position: relative;
    z-index: 2; /* Set a higher z-index to bring the name to the foreground */
}

/* Styles for the company logo */
.company-logo {
    max-width: 100%; /* Ensure the logo doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the logo within the square */
    z-index: 1; /* Set a lower z-index to position the logo behind the name */
}

/* Styles for the scrolling button */
.scroll-down {
    position: absolute;
    bottom: 10px;
    font-family: 'Queensides';
    font-size: 40px;
    color:burlywood;
    cursor: pointer;
}

.scroll-down:hover {
    transform: scale(1.03);
}

.section-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #deb887;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ecf0f1; /* Light gray background color */
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
/* Hover effect */
.section-title:hover {
    color: #c49a6c; /* Darker blue color on hover */
    background-color: #dfe6e9; /* Light gray background color on hover */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px;
    /*height: calc(100vh - 40px); /* Adjusted height to account for the header's padding (20px on top and 20px on bottom) */
}

.left-obj, .right-obj {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    padding: 0px 40px 0px 40px;
    /*border: #3f3f3f solid;*/
}

.left-obj {
    background-color: #ffffff;
}

.right-obj {
    background-color: #ffffff;
}

.shaded-container {
    background-color: #ffffff;
    font-family: 'Monserrat';
    box-shadow: inset;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.shaded-container:hover {
    transform: scale(1.03);
}

.simple-text {
    text-align: center;
    font-size: 24px;
}

.full-obj {
    padding: 50px 300px 50px 300px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    font-family: 'Monserrat';
}

.wordcloud {
    width: 200px;
}

footer {
    padding: 100px 50px 50px 50px;
    background-color: #3f3f3f;
}

.copyright {
    color: #ffffff;
    text-align: center;
    font-family: 'Queensides';
}

#heatmapContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns based on your data */
    gap: 4px;
}
  
.heatmap-cell {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
    background-color: #ebedf0; /* Default background color */
    color: #333;
}
  
.heatmap-cell.high {
    background-color: #66ff66; /* Adjust color based on value */
}
  
.heatmap-cell.medium {
    background-color: #99ff99; /* Adjust color based on value */
}
  
.heatmap-cell.low {
    background-color: #ccffcc; /* Adjust color based on value */
}